@page "/game"
@inject IJSRuntime JSRuntime;
@inject HttpClient Http


<PageTitle Title="Tech-Tac-Toe"></PageTitle>

@if(isPlayerX){
    PlayerIndicator = "Player X";
}
else{
    PlayerIndicator = "Player O";
}
<p id="player-text"><b>Active: </b><i>@PlayerIndicator</i></p>

<Instructions></Instructions>
<Board >  
    
    <tr>     
        <td @ref=gameCells[0]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[0]))" >
                    
        </td>
        <td @ref=gameCells[1]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[1] ))" >
                  
        </td>
        <td @ref=gameCells[2]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[2] ))" >
                    
        </td>
        <td @ref=gameCells[3]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[3] ))" >
                    
        </td>
    </tr>
    <tr>     
        <td @ref=gameCells[4]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[4] ))" >
                    
        </td>
        <td @ref=gameCells[5]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[5] ))" >
                    
        </td>
        <td @ref=gameCells[6]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[6] ))" >
                    
        </td>
        <td @ref=gameCells[7]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[7] ))" >
                    
        </td>
    </tr>
    <tr>     
        <td @ref=gameCells[8]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[8] ))" >
                    
        </td>
        <td @ref=gameCells[9]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[9] ))" >
                    
        </td>
        <td @ref=gameCells[10]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[10] ))" >
                    
        </td>
        <td @ref=gameCells[11]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[11] ))" >
                    
        </td>
    </tr>
    <tr>     
        <td @ref=gameCells[12]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[12] ))" >
                    
        </td>
        <td @ref=gameCells[13]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[13] ))" >
                    
        </td>
        <td @ref=gameCells[14]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[14] ))" >
                   
        </td>
        <td @ref=gameCells[15]  @onclick="@(()=>UpdateCurrentQuestion(gameCells[15] ))" >
                   
        </td>
    </tr>
          
</Board>


 @if(showQuestion){
   
    <EditForm Model="@answerModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

    
        <div id="questionPrompt">
            @if (questions == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <Question @bind-CurrentQuestion="currentQuestion"></Question>
            }
        <InputText id="name" @bind-Value="answerModel.Answer" />
        <button type="submit">Submit</button>
        </div>
      
    </EditForm>
  
 }

 @if(showMessage){
     
     if(isGoodAnswer){
        <GoodMessage>@message</GoodMessage>
        

     }
     else{
         <BadMessage>@message</BadMessage>
     }
 }

@code
{
    enum Mark { X, O };

    public ElementReference Element { get; set; }

    private ElementReference[] gameCells = new ElementReference[16];

    private bool isPlayerX = true;

    private string message;

    private string playerIndicator;

    public string[] answerArrayTrimmed;

    public string PlayerIndicator { get => playerIndicator; set => playerIndicator = value; }

    private QuestionCollection[] questions;

    private string currentQuestion;

    private QuestionCollection currentQA;

    private string[] currentAnswers;

    Random rand = new Random();

    private bool showQuestion = false;

    private bool showMessage = false;

    private bool isGoodAnswer = false;


    public AnswerModel answerModel = new AnswerModel();

    public class QuestionCollection
    {
        public string Question { get; set; }
        public string[] Answers { get; set; }
    }

    public class AnswerModel
    {
        [Required]
        [StringLength(40, ErrorMessage = "Name is too long.")]
        public string Answer { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        questions = await Http.GetFromJsonAsync<QuestionCollection[]>("sample-data/questions.json");
        await CreateGameCellsJS(gameCells);

    }

    private void UpdateCurrentAnswer()
    {

        currentAnswers = currentQA.Answers;
        var lowercaseAnswers = ConvertToLowercase(currentAnswers);
        var answerArray = lowercaseAnswers.Split(",");
        answerArrayTrimmed = new string[answerArray.Length];

        for (var i = 0; i < answerArray.Length; i++)
        {
            string trimmedItem = answerArray[i].Trim();
            answerArrayTrimmed[i] = trimmedItem;

        }
        foreach (var item in answerArrayTrimmed)
        {
            System.Console.WriteLine(item);
        }
        @*return answerArrayTrimmed;*@
    }

    public string ConvertToLowercase(string[] currentAnswers)
    {
        var joinedAnswers = string.Join(",", currentAnswers);
        var convertedToLowerCase = joinedAnswers.ToLower();

        return convertedToLowerCase;

    }

    private void UpdateCurrentQuestion(ElementReference el)
    {

        currentQA = questions[rand.Next(questions.Length)];
        showQuestion = true;
        currentQuestion = currentQA.Question;
        UpdateCurrentAnswer();
        Element = el;

    }

    private async Task WinSquare(ElementReference el)
    {
        if (isPlayerX)
        {
            await JSRuntime.InvokeVoidAsync("setElementText", el, "X");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("setElementText", el, "O");
        }

    }

    private async Task CreateGameCellsJS(ElementReference[] arr)
    {
        await JSRuntime.InvokeVoidAsync("createElementArray", arr);
    }


    private async Task HandleValidSubmit()
    {
        string answerLower = answerModel.Answer.ToLower();

        //System.Console.WriteLine(answerLower);

        ProcessUserInput(answerArrayTrimmed, answerLower);

        await ToggleMessage();
        TogglePlayer();

    }

    private async void ProcessUserInput(string[] possibleAnswers, string compareString)
    {

        foreach (var entry in possibleAnswers)
        {
            System.Console.WriteLine("Entry" + entry);
            System.Console.WriteLine("answerLower:" + compareString);

            if (entry == compareString)
            {
                answerModel.Answer = String.Empty;
                message = "Good Answer!";
                isGoodAnswer = true;
                showQuestion = false;
                showMessage = true;
                await WinSquare(Element);
            }
            else
            {
                answerModel.Answer = String.Empty;
                message = "Wrong Answer!";
                isGoodAnswer = false;
                showQuestion = false;
                showMessage = true;

            }
        }
    }

    private async Task ToggleMessage()
    {

        await Task.Delay(3000);

        showMessage = !showMessage;
        message = String.Empty;
    }

    private void TogglePlayer()
    {
        isPlayerX = !isPlayerX;
    }

    private void CheckRows()
    {

    }

    private void CheckDiagonals()
    {

    }
}


